ArtScanner/artifacts.genshinart.json
ArtScanner/artifacts.mingyulab.json
**/__pycache__/**
ArtScanner/build/**
ArtScanner/dist/**
ArtScanner/*.spec
ArtScanner/artifacts/**
ArtScanner/artifacts-all/**

.vscode/**
**/.ipynb_checkpoints/**
ArtScanner/data/**
